<!--overdue-->
<ti-task-list title="Overdue" [tasks]="overdue" color="red"></ti-task-list>
<!--today-->
<ti-task-list title="Today" [tasks]="today" color="yellow"></ti-task-list>
<!--tomorrow-->
<ti-task-list title="Tomorrow" [tasks]="tomorrow" color="blue"></ti-task-list>
<!--this week-->
<ti-task-list title="This week" [tasks]="thisWeek" color="black"></ti-task-list>
<!--next week-->
<ti-task-list title="Next week" [tasks]="nextWeek" color="black"></ti-task-list>
<!--later-->
<ti-task-list title="Later" [tasks]="later" color="black"></ti-task-list>
<!--completed-->
<ti-task-list title="Completed" [tasks]="completed" color="green"></ti-task-list>

<ti-new-task-button></ti-new-task-button>
